

    <div class="contents-wrapper">
      <div class="cont">
        <div class="contents-wrapper-main">
          <div class="contents-title">
           <h1>ピラプってなに？</h1>
           </div>
           <div class="contents-wrapper-img">
             <img src="" alt="">
           </div>
           <div class="contents-wrapper-contents">
             <p>あなたは未来の自分のためにどんな努力をしていますか？</p>
             <p>通勤時間の読書、毎朝少しだけ早く起きてスキルアップのための勉強...</p>
             <p>それほど多くの時間を取れなかったとしてもなにかしらの努力をしているかと思います</p>
             <p>でも、努力の成果が感じられず日々の小さな努力が無意味に思え挫折思想になる日もあるでしょう</p>
             <p>ピラプはそんなあなたの日々の積み上げ(pile up)を可視化することであなたが努力を応援します</p>
             <p>あなたのその小さな積み上げが1ヶ月後、2ヶ月後、半年後、1年後大きな成功になることを知っているから</p>
           </div>


        </div>
      </div>
    </div>