

    

    <div class="main-wrapper">
      <div class="cont">
        <div class="main-wrapper-main">
          <div class="main-title">
           <h1>ピラプ</h1>
           <p>あなたの頑張りを可視化するアプリケーション</p>
          </div>
          <div class="main-btn">

            <div class="main-btn1">
              <a class="" href="#">新規登録はこちら  ▶︎</a>
            </div>

            <div class="main-btn2">
              <a class="" href="#">ログイン</a>
            </div>

            <div class="main-btn3">
              <a class="" href="#">ピラプってなに？</a>
            </div>

          </div>
        </div>
      </div>
    </div>

