

    

    <div class="main-wrapper">
      <div class="cont">
        <div class="main-wrapper-main">
          <div class="main-title">
           <h1>ピラプ</h1>
           <p>あなたの頑張りを可視化するアプリケーション</p>
          </div>
          <div class="main-btn">

            
            <% if @current_user %>
            <a class="main-btn1" href="/posts/new" >新規投稿</a>
            <a class="main-btn2" href="/users/<%= @current_user.id %>" >マイページ</a>
           
            <% else %>
            <a class="main-btn1" href="/signup" >新規登録はこちらから</a>
            <a class="main-btn2" href="/login" >メールアドレスでログイン</a>
            <a class="main-btn3" href="/auth/twitter" >Twitterでログイン</a>
            <% end %>

          </div>
        </div>
      </div>
    </div>

