<div class="edit-wrapper">
      <div class="cont">
        <div class="edit-wrapper-main">
          <div class="edit-title">
           <h1>今日の積み上げ</h1>
          </div>

          <div class="edit-contents">
           <%= form_tag("/posts/create") do %>
            <div class="edit-content edit-1">
              <p>今日の積み上げ時間</p>
              <p><textarea class="edit-time" type="text" name="time" value="">   </textarea>分</P>
            </div>

            <div class="edit-content edit-2">
              <p>今日やったこと</p>
              <textarea class="edit-thing" type="text" name="type" value="">   </textarea>
            </div>

            <div class="edit-content">
              <p>具体的な内容</p>
              <textarea name="content" rows="8" cols="80"> </textarea>
            </div>

            <input class="edit-submit" type="submit" name="" value="投稿">
            <% end  %>
            
          </div>
          
        </div>
      </div>
    </div>