// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-wrapper {
    padding-top: 50px;
    }
    
    .user-left {
      width: 20%;
      height: 100%;
      display: inline-block;
      float: left;
      padding-left: 50px;
    }
    
    .user-img {
    
    }
    
    .user-img img {
    width: 200px;
    height: 200px;
    }
    
    .user-profile {
      padding-left: 10px;
    }
    
    .user-profile h1 {
    
    }
    
    .user-profile h2 {
    
    }
    
    .user-profile h3 {
    
    }

    .user-name h3 {
      font-size: 30px;;
    }

    .user-time {

    }

    .user-time p {
      font-size: 14px;;
    }

    .user-time h2 {

    }






    
    .user-right {
      width: 70%;
      height: 100%;
      display: inline-block;
      float: left;
      padding-left: 50px;
    }
    
    .user-contents {
    
    }

    .user-title {

    }
    
    .user-content {
      border-bottom: solid 1px gray;
      height: 100%;
      padding-top: 25px;
      width: 900px;
      padding-left: 10px;
      display: inline-block;
    }
    
    .user-content p {
      display: inline-block;
      float: left;
    }
    
    .time {
      width: 100px;
    }
    
    .content {
      width: 200px;
    }
    
    .matter {
     width: 400px;
    }
    




    .edit-wrapper {
        background-image: url('/pile-up1.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;
        text-align: center;
      }
      
      .edit-wrapper-main {
        margin: 100px 0;
        padding-top: 70px;
        padding-bottom: 70px;
        background:rgba(255,255,255,0.7);
        width: 500px;
        height: 630px;
        border-radius: 100px;
        display: inline-block;
      }
      
      .edit-title {
      
      }
      
      .edit-title h1 {
        font-size: 56px;
        padding-bottom: 20px;
      }
      
      .edit-contents {
      padding-left: 50px;
      text-align: left;
      }
      
      .edit-content {
        margin-bottom: 15px;
      }
      
      .edit-1 {
        width: 150px;
      }
      
      .edit-2 {
        width: 300px;
      }
      
      .edit-content p {
      margin-bottom: 5px;
      text-align: left;
      }
      
      .edit-content input {
      
      }
      
      .edit-time {
      width: 100px !important;
      }
      
      .edit-thing {
      width: 300px;
      }
      
      .edit-content textarea {
       width: 400px;
      }
      
      .edit-submit {
        background-color: white;
        width: 200px;
        text-align: center;
        height: 40px;
        font-size: 18px;;
      }
      
      .edit-link {
          color:black;
      }







      @media (max-width:600px) {

        .edit-wrapper-main {
          margin: 100px 0;
          padding-top: 70px;
          padding-bottom: 70px;
          background:rgba(255,255,255,0.7);
          width: 300px;
          height: 500px;
          border-radius: 100px;
          display: inline-block;
        }

        .edit-title h1 {
          font-size: 30px;
          padding-bottom: 20px;
        }

        .edit-contents {
          padding-left: 20px;
          text-align: left;
          }

          .edit-time {
            width: 100px !important;
            }
            
            .edit-thing {
            width: 250px;
            }
            
            .edit-content textarea {
             width: 250px;
            }









            .user-left {
              width: 100%;
              height: 100%;
              display: inline-block;
              float: left;
              text-align: center;
            }

            

            .user-right {
              width: 100%;
              height: 100%;
              display: block;
              float: left;
              text-align: center;
            }
            
            .user-contents {
            
            }

            .user-title {
              text-align: left;
              margin-top: 100px;;
            }
            
            .user-content {
              border-bottom: solid 1px gray;
              padding-top: 25px;
              width: 100%;
              padding-left: 10px;
              text-align: center;
              height: 100%;
              display: inline-block;
            }
            
            .user-content p {
              
            }
            
            .time {
              width: 80px;
              text-align: left;
            }
            
            .content {
              width: 200px;
              text-align: left;
            }
            
            .matter {
             width: 280px;
             text-align: left;
             
            }
            .matter p {
              
            }




            
            
        
        
        
        
           
      }